@model MailRequestModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

            <section class="py-5">
                <div class="container px-5">
                    <!-- Contact form-->
                    <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                        <div class="text-center mb-5">
                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                            <h1 class="fw-bolder">İletişim Kuralım!</h1>
                            <p class="lead fw-normal text-muted mb-0">Bize ulaşmaktan çekinmeyin</p>
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6">
                    <form method="post" id="contactForm" data-sb-form-api-token="API_TOKEN">
                                    <!-- Name input-->
                                    <div class="form-floating mb-3">
                            <input class="form-control" asp-for="Name"  id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                        <label for="name">Ad Soyad</label>
                                        <div class="invalid-feedback" data-sb-feedback="name:required">Ad alanı gereklidir.</div>
                            <span asp-validation-for="Name" class="errorMessage"></span>
                                    </div>
                                    <!-- Email address input-->
                                    <div class="form-floating mb-3">
                            <input class="form-control" asp-for="SenderMail" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                        <label for="email">E-Posta Adresi</label>
                                        <div class="invalid-feedback" data-sb-feedback="email:required">E-posta gereklidir.</div>
                                        <div class="invalid-feedback" data-sb-feedback="email:email">E-posta formatı doğru değil.</div>
                            <span asp-validation-for="SenderMail" class="errorMessage"></span>
                                    </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="Subject" type="text"  />
                            <label for="email">Konu</label>

                        </div>

                                    <!-- Message input-->
                                    <div class="form-floating mb-3">
                            <textarea class="form-control" asp-for="Body" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                                        <label for="message">Mesajınız</label>
                                        <div class="invalid-feedback" data-sb-feedback="message:required">Mesaj boş yollanamaz.</div>
                                    </div>

                                    <div class="d-none" id="submitSuccessMessage">
                                        <div class="text-center mb-3">
                                            <div class="fw-bolder">Mesajınız başarıyla yollandı!</div>

                                        </div>
                                    </div>

                                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Gönderilirken bir hata oluştu!</div></div>
                  
                                    <div class="d-grid"><button class="btn btn-primary" id="submitButton" type="submit">Gönder</button></div>

                                </form>
                    <br />
                    @if (TempData.ContainsKey("message"))
                    {
                        <div class="alert alert-success">
                            @TempData["message"]
                        </div>
                    }


                            </div>
                        </div>
                    </div>
                </div>
            </section>

